language: node_js
node_js:
  - node
script: npm test -- --coverage --verbose;
before_deploy:
  - npm pack
deploy:
  - provider: releases
    api_key: $GITHUB_TOKEN
    file_glob: true
    file: "*.tgz"
    skip_cleanup: true
    on:
      tags: true